<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li><a ui-sref="gallery"><i class="fa fa-steam fa-2x"></i> Gallery</a></li>
        <li><a ui-sref="squad"><i class="fa fa-weibo fa-2x"></i> Squad</a></li>
        <li><a ui-sref="add"><i class="fa fa-qq fa-2x"></i> Add Hero</a></li>
        <li><a ui-sref="team"><i class="fa fa-optin-monster fa-2x"></i> My Team <span style="font-size: 30px;" class="badge">{{ team.length || 0 }}</span></a></a>
        </li>
        <li><a ui-sref="favs"><i class="fa fa-pied-piper-alt fa-2x"></i> Favourites <span style="font-size: 30px;" class="badge">{{ favs.length || 0 }}</span></a></a>
        </li>
    </ul>
</div>
<br>
